.menu {
	ul {
		display: flex;
	}

	ul > li {
		position: relative;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		padding-left: 32px;

		@media (max-width: 998px) {
			top: 5px;
			font-size: 12px;
		}

		a {
			color: #ffffff;
		}
	}
}
