.main__title {
	padding-top: 50px;
	display: flex;
}

.flesh {
	margin: 10px;
}

.main__title h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
	background: conic-gradient(
			from 180deg at 50.93% 50%,
			#000000 0deg,
			rgba(255, 255, 255, 0.72) 16.88deg,
			#000000 88.12deg,
			rgba(255, 255, 255, 0.72) 151.87deg,
			#000000 225deg,
			rgba(255, 255, 255, 0.72) 288.75deg,
			#000000 360deg
		),
		radial-gradient(
				78.31% 80.25% at 11.77% 28.24%,
				rgba(110, 124, 251, 0.52) 7.61%,
				rgba(251, 66, 255, 0.52) 35.14%,
				rgba(255, 66, 247, 0.52) 63.45%,
				rgba(66, 119, 255, 0.52) 100%
			)
			conic-gradient(
				from 180deg at 49.45% 50%,
				#e8edf1 -3.44deg,
				#d6dfe6 56.25deg,
				#fafbfc 133.38deg,
				#f6d0ff 215.62deg,
				#d7e0e7 311.43deg,
				#f7f8f9 313.84deg,
				#e8edf1 356.56deg,
				#d6dfe6 416.25deg
			),
		#ffffff;
}

.sale1 {
	cursor: pointer;
	z-index: -1px;
}

.hidden_element {
	position: relative;
	bottom: 100px;
	left: 20px;
	display: none;
	color: white;
	width: 260px;
	height: 63px;
	background: #77be1d;
	backdrop-filter: blur(10px);
	border-radius: 12px;
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
	z-index: 999px !important;
	color: #ffffff;
}

.sale1:hover + .hidden_element {
	display: block;
	z-index: 999px !important;
}

.main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.number {
	display: flex;
}

.number p {
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
	color: #ffffff;
	margin: 10px;
}

.tit {
	padding-top: 8px;
	text-decoration: line-through;
	font-weight: 400 !important;
	font-size: 18px !important;
	line-height: 130% !important;
	color: rgba(255, 255, 255, 0.2) !important;
}

.number span {
	padding: 18px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	color: #77be1d;
}

.sale {
	padding: 20px;
}

.title {
	padding-left: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #ffffff;
}

.key {
	display: flex;

	span {
		padding-top: 6px;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		color: #747474;
	}
}

.sfera {
	margin: 8px;
	width: 14px;
	height: 14px;
	background: #3d394a;
	opacity: 0.5;
	border-radius: 20px;
}

// slide

.slide {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.slide_one {
	margin: 31px;
	width: 620px;
	height: 360px;
	background: linear-gradient(131.39deg, #1dbe53 -11.11%, #ace238 73.42%);
	border-radius: 15px;
}

.slide_two {
	margin: 31px;
	width: 620px;
	height: 360px;
	background: linear-gradient(131.39deg, #ff3d23 -11.11%, #fda828 73.42%);
	border-radius: 15px;
}

.slide_wrap {
	h3 {
		width: 379px;
		height: 86px;
		margin: 30px 30px 0px;
		font-weight: 800;
		font-size: 36px;
		line-height: 120%;
		color: #ffffff;
	}
}

.slide_number {
	margin: 20px 30px 0px;
	display: flex;
	font-weight: 800;
	p {
		font-size: 24px;
		line-height: 130%;
		color: #ffffff;
		padding-right: 10px;
	}

	span {
		padding-top: 5px;
		font-size: 20px;
		line-height: 130%;
		color: #ffe817;
		padding-right: 10px;
	}
}

.slide_num {
	text-decoration: line-through;
	font-weight: 400 !important;
	font-size: 24px !important;
	line-height: 130% !important;
	color: rgba(255, 255, 255, 0.2) !important;
}

.slide_button {
	margin: 20px 30px 0px;
	display: flex;
}

.button_right {
	width: 144px;
	height: 63px;
	margin-right: 5px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	color: #fff;
}

.button_left {
	width: 144px;
	height: 63px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	color: #fff;
}

.sli {
	position: absolute;
	right: 900px;
}
