.container {
	display: flex;
	padding: 0px 21px;
	height: 50px;
	.meni {
		display: flex;
		justify-content: space-between;
	}
}

.logo > a {
	position: relative;
	top: 3px;
	left: 5px;
	font-size: 22px;
	line-height: 90%;
	color: #ffffff;
}

.icon {
	margin-left: 5px;
}
