.container {
	display: flex;
	@media (max-width: 825px) {
		visibility: hidden;
	}
}

.language {
	position: relative;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	color: #ffffff;

	span {
		color: #3c364e;
	}

	@media (max-width: 998px) {
		top: 5px;
		font-size: 12px;
	}
}

.d__img {
	height: 5px;
	position: relative;
	top: 8px;
	left: 8px;

	@media (max-width: 998px) {
		top: 10px;
	}
}
