.container {
	display: flex;
}

.language {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	color: #ffffff;

	span {
		color: #3c364e;
	}
}

.d {
	position: relative;
	top: 3px;
	margin-left: 5px;
}
