.container {
	display: flex;
	padding-top: 1px;
}

.profile__name {
	padding-right: 20px;
	position: relative;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: right;
	color: #ffffff;
}

.profile__img {
	position: relative;
	bottom: 5px;
}
