.container {
	display: flex;
	padding-top: 1px;

	@media (max-width: 825px) {
		// display: none;
	}
}

.profile__name {
	padding-right: 20px;
	position: relative;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: right;
	color: #ffffff;
	@media (max-width: 998px) {
		top: 5px;
		font-size: 12px;
	}
}

.profile__img {
	position: relative;
	bottom: 5px;
}
