.container {
	@media (max-width: 825px) {
		display: none;
	}
}

.logo > a {
	padding-left: 11px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 90%;
	color: #ffffff;
	@media (max-width: 998px) {
		padding-top: 5px;
		font-size: 24px;
	}
}

.logo {
	display: flex;
}
